*
{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

header
{
	position: relative;
	padding: 30px;
}

header > *
{
	display: inline-block;
	margin: 10px;
}

.buttons
{
	position: absolute;
	right: 30px;
	bottom: 30px;
}

footer
{
	text-align: center;
	padding: 10px;
}

.product-list
{
	display: flex;
	flex-wrap: wrap;
	overflow-y: scroll;
	height: 80%;
}

.product
{
	flex: 1 0 18%;
	height: 200px;
	border: 1px solid black;
	position: relative;
	margin: 50px;
}

.product-content
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
}

.product-content > h4
{
	font-size: 20px;
}

.delete-checkbox
{
	position: absolute;
	top: 10px;
	left: 10px;
}

td
{
	padding: 10px;
}